@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
.col-lg-1 {
  float: left;
  width: 8.3333333333%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-1 {
    float: left;
    width: 8.3333333333%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-1 {
    float: left;
    width: 8.3333333333%; } }

.col-lg-2 {
  float: left;
  width: 16.6666666667%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-2 {
    float: left;
    width: 16.6666666667%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-2 {
    float: left;
    width: 16.6666666667%; } }

.col-lg-3 {
  float: left;
  width: 25%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-3 {
    float: left;
    width: 25%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-3 {
    float: left;
    width: 25%; } }

.col-lg-4 {
  float: left;
  width: 33.3333333333%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-4 {
    float: left;
    width: 33.3333333333%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-4 {
    float: left;
    width: 33.3333333333%; } }

.col-lg-5 {
  float: left;
  width: 41.6666666667%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-5 {
    float: left;
    width: 41.6666666667%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-5 {
    float: left;
    width: 41.6666666667%; } }

.col-lg-6 {
  float: left;
  width: 50%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-6 {
    float: left;
    width: 50%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-6 {
    float: left;
    width: 50%; } }

.col-lg-7 {
  float: left;
  width: 58.3333333333%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-7 {
    float: left;
    width: 58.3333333333%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-7 {
    float: left;
    width: 58.3333333333%; } }

.col-lg-8 {
  float: left;
  width: 66.6666666667%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-8 {
    float: left;
    width: 66.6666666667%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-8 {
    float: left;
    width: 66.6666666667%; } }

.col-lg-9 {
  float: left;
  width: 75%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-9 {
    float: left;
    width: 75%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-9 {
    float: left;
    width: 75%; } }

.col-lg-10 {
  float: left;
  width: 83.3333333333%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-10 {
    float: left;
    width: 83.3333333333%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-10 {
    float: left;
    width: 83.3333333333%; } }

.col-lg-11 {
  float: left;
  width: 91.6666666667%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-11 {
    float: left;
    width: 91.6666666667%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-11 {
    float: left;
    width: 91.6666666667%; } }

.col-lg-12 {
  float: left;
  width: 100%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-12 {
    float: left;
    width: 100%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-12 {
    float: left;
    width: 100%; } }

body {
  margin: 0;
  padding: 0;
  background: #FEFDFF; }

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.nav ul {
  background: #2DA9FF;
  text-align: center; }

.nav li {
  font-family: 'Inconsolata', monospace;
  text-align: left;
  display: block;
  border-bottom: 1px solid #FEFDFF; }
  @media screen and (min-width: 64em) {
    .nav li {
      font-size: 22px;
      line-height: 33px;
      width: 130px;
      display: inline-block;
      margin-right: -4px;
      border: 1px solid #FEFDFF; } }
  @media screen and (min-width: 40em) and (max-width: 63.99em) {
    .nav li {
      display: inline-block;
      font-size: 20px;
      line-height: 30px; } }

.nav li:hover {
  background: #0A75BE; }

.nav a {
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  color: #FEFDFF;
  display: block;
  padding-left: 15px;
  transition: .3s background-color;
  padding: 8px 10px;
  text-align: center; }

.nav a:hover {
  background: #0A75BE; }

.nav li li {
  font-size: 18px;
  line-height: 27px;
  display: block;
  border: none; }

@media screen and (min-width: 64em) {
  .nav > ul > li {
    text-align: center; } }

@media screen and (min-width: 64em) {
  .nav > ul > li > a {
    padding-left: 0; } }

.nav li ul {
  display: block;
  width: inherit; }
  @media screen and (min-width: 40em) and (max-width: 63.99em) {
    .nav li ul {
      position: absolute;
      display: none; } }
  @media screen and (min-width: 64em) {
    .nav li ul {
      position: absolute;
      display: none; } }

.nav li:hover {
  background: #0A75BE; }
  .nav li:hover ul {
    display: block; }

.nav li ul li {
  display: block;
  font-size: 16px;
  line-height: 24px; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  li:hover {
    display: inline-block; } }

.nav ul li.menu {
  display: block; }
  @media screen and (min-width: 40em) and (max-width: 63.99em) {
    .nav ul li.menu {
      display: none; } }
  @media screen and (min-width: 64em) {
    .nav ul li.menu {
      display: none; } }

#hamburger {
  float: left;
  margin: 2px -25px 2px 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/hamburger.png);
  background-size: cover; }

#mobile-menu {
  display: block; }
  @media screen and (min-width: 64em) {
    #mobile-menu {
      display: none; } }

li.products > a {
  border-bottom: 1px solid #FEFDFF; }
