@import url("https://fonts.googleapis.com/css?family=Inconsolata");
.col-lg-1 {
  float: left;
  width: 8.3333333333%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-1 {
    float: left;
    width: 8.3333333333%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-1 {
    float: left;
    width: 8.3333333333%; } }

.col-lg-2 {
  float: left;
  width: 16.6666666667%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-2 {
    float: left;
    width: 16.6666666667%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-2 {
    float: left;
    width: 16.6666666667%; } }

.col-lg-3 {
  float: left;
  width: 25%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-3 {
    float: left;
    width: 25%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-3 {
    float: left;
    width: 25%; } }

.col-lg-4 {
  float: left;
  width: 33.3333333333%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-4 {
    float: left;
    width: 33.3333333333%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-4 {
    float: left;
    width: 33.3333333333%; } }

.col-lg-5 {
  float: left;
  width: 41.6666666667%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-5 {
    float: left;
    width: 41.6666666667%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-5 {
    float: left;
    width: 41.6666666667%; } }

.col-lg-6 {
  float: left;
  width: 50%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-6 {
    float: left;
    width: 50%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-6 {
    float: left;
    width: 50%; } }

.col-lg-7 {
  float: left;
  width: 58.3333333333%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-7 {
    float: left;
    width: 58.3333333333%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-7 {
    float: left;
    width: 58.3333333333%; } }

.col-lg-8 {
  float: left;
  width: 66.6666666667%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-8 {
    float: left;
    width: 66.6666666667%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-8 {
    float: left;
    width: 66.6666666667%; } }

.col-lg-9 {
  float: left;
  width: 75%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-9 {
    float: left;
    width: 75%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-9 {
    float: left;
    width: 75%; } }

.col-lg-10 {
  float: left;
  width: 83.3333333333%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-10 {
    float: left;
    width: 83.3333333333%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-10 {
    float: left;
    width: 83.3333333333%; } }

.col-lg-11 {
  float: left;
  width: 91.6666666667%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-11 {
    float: left;
    width: 91.6666666667%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-11 {
    float: left;
    width: 91.6666666667%; } }

.col-lg-12 {
  float: left;
  width: 100%; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  .col-md-12 {
    float: left;
    width: 100%; } }

@media screen and (max-width: 39.99em) {
  .col-sm-12 {
    float: left;
    width: 100%; } }

html, body {
  margin: 0;
  padding: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  nav li:hover ul {
    display: inline-block; } }

@media screen and (min-width: 64em) {
  nav li:hover ul {
    display: block; } }

nav a {
  font-family: 'Inconsolata', monospace;
  background-color: #2DA9FF;
  color: #FFF;
  border-bottom: 0.05em solid #FFF;
  text-decoration: none;
  display: block;
  padding: 4px 8px;
  text-align: center; }
  nav a:hover {
    background-color: #0A75BE; }
  @media screen and (min-width: 40em) and (max-width: 63.99em) {
    nav a {
      padding: 4px 10px; } }
  @media screen and (min-width: 64em) {
    nav a {
      padding: 4px 15px; } }
  @media screen and (min-width: 40em) {
    nav a {
      border-left: 0.05em solid #FFF;
      border-right: 0.05em solid #FFF;
      border-bottom: none; } }

@media screen and (min-width: 40em) {
  nav a.contact {
    border-right: none; } }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  nav a.home {
    border-left: none;
    padding-left: 8em; } }

nav > ul {
  height: 28px;
  background-color: #2DA9FF; }
  nav > ul:after {
    content: "";
    display: table;
    clear: both; }

nav > ul > li {
  font-size: 1.15em; }

nav > ul.closed > li {
  display: none; }
  @media screen and (min-width: 40em) {
    nav > ul.closed > li {
      display: block;
      float: left; } }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  nav .submenu {
    display: inline-block; } }

@media screen and (min-width: 64em) {
  nav .submenu {
    display: none; } }

nav .submenu a {
  border-bottom: none; }
  @media screen and (min-width: 64em) {
    nav .submenu a {
      text-align: left; } }
  @media screen and (min-width: 40em) {
    nav .submenu a {
      border: none; } }

nav .submenu li:last-child a {
  border-bottom: 0.05em solid #FFF; }
  @media screen and (min-width: 40em) and (max-width: 63.99em) {
    nav .submenu li:last-child a {
      border: none; } }

#mobile-menu {
  display: block; }
  @media screen and (min-width: 40em) {
    #mobile-menu {
      display: none; } }

#hamburger {
  float: left;
  margin: 2px -22px 2px 0;
  width: 22px;
  height: 16px;
  background-image: url("../img/Hamburger.png");
  background-size: cover; }

ul.open #hamburger {
  margin: 2px -16px 2px 0;
  width: 16px;
  height: 16px;
  background-image: url("../img/X-Icon.png"); }

@media screen and (min-width: 40em) and (max-width: 63.99em) {
  ul li li {
    display: inline-block; } }

.submenu {
  background: #2DA9FF; }
  @media screen and (min-width: 40em) and (max-width: 63.99em) {
    .submenu {
      border: 0.05em solid #FFF; } }
