@import "bourbon/bourbon";
@import "colors";
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import "grid";
@import "util";

$parentMenuItems: 3;
$submenuMenuItems: 4;

html, body {
    margin: 0;
    padding: 0;
}

ul, li {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    > ul {
        height: 36px;
        @include clearfix;
        background: $ltBlue;
    }
    
    > ul > li {
        font-size: 1.15em;
        @include size(medUp) {
            display: inline-block;
            width: percentage((1/$parentMenuItems));
            a {
                border-right: 0.05em solid $white;
            }
        }
        &:last-child a {
            border-right: none;
        }
    }
    
    > ul.closed > li {
        display: none;
        @include size(medUp) {
            display: block;
            float: left;
        }
    }
    
    a {
        font-family: 'Inconsolata', monospace;
        box-sizing: border-box;
        height: 36px;
        background: $ltBlue;
        color: $white;
        border-bottom: 0.1em solid $white;
        text-decoration: none;
        display: block;
        padding: 6px 8px;
        text-align: center;
        &:hover {
            background: $dkBlue;
        }
        @include size(lg) {
            border-bottom: none;
        }
    }
    
    .subMenu {
        display: none;
        @include size(med) {
            position: absolute;
            left: 0;
            top: 35px;
            width: 100%;
            li {
                display: inline-block;
                margin-right: -5px;
                width: percentage((1/$submenuMenuItems));
                a {
                    border: 0;
                }
            }
        }
        a {
            border-bottom: none;
        }
        li:last-child {
            a {
                @include size(sm) {
                    border-bottom: 0.05em solid $white;
                }
            }
        }
    }
}

#mobileMenu {
    display: block;
    @include size(medUp) {
        display: none;
    }
}

#burgerMenu {
    $icon-width: 22px;
    float: left;
    margin: 2px -#{$icon-width} 2px 0;
    width: $icon-width;
    height: 16px;
    background-image: url('../img/Hamburger.png');
    background-size: cover;
}

ul.open #burgerMenu {
    $icon-width: 16px;
    margin: 2px -#{$icon-width} 2px 0;
    width: $icon-width;
    height: $icon-width;
    background-image: url('../img/X-Icon.png');
}

.home {
    @include size(lg) {
        width: 75px;
    }
}

.products, .subMenu {
    @include size(lg) {
        width: 125px;
    }
}

.contact {
    @include size(lg) {
        width: 100px;
    }
}

.submenu {
    li {
        @include size(lg) {
            text-align: left;
            padding-left:15px;
        }
    }
}

